<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30000">
    <setting label="30001" id="enabled" type="bool" default="true"/>
    <setting label="30002" id="notifications" type="bool" default="true"/>
  </category>
  <category label="30010">
    <setting label="30011" id="curTVmode" type="select" lvalues="30110|30111|30112" default="0"/>
    <setting label="30012" id="pollsec" type="number" default="5"/>
    <setting label="30013" id="idlesec" type="number" default="5"/>
    <setting label="30014" id="skipInScreensaver" type="bool" default="true"/>
  </category>
  <category label="30020">
    <setting label="30021" id="TVserialport" type="text" default="/dev/ttyS0"/>
    <setting label="30022" id="TVcmd3Dou" type="text" default="xt 0 0 0 0 0"/>
    <setting label="30023" id="TVcmd3Dsbs" type="text" default="xt 0 0 1 0 0"/>
    <setting label="30024" id="TVcmd3Dnone" type="text" default="xt 0 1 0 0 0"/>
  </category>
</settings>
